<footer>
  <span>
   <a href="https://twitter.com/messages/compose?recipient_id=1453606798011731969&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="https://twitter.com/glints_security" data-show-count="false">Message @https://twitter.com/glints_security</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </span>
  </br>
  <span>
    Glints Intern Pte Ltd & Glints Singapore Pte Ltd &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
  </span>

</footer>
